:root {
    --very-light-pink: #C7C7C7;
    --hospital-green: #ACD9B2;
    --text-input-field: #F7F7F7;
    --dark: #232830;
    --black: #000000;
    --white: #FFFFFF;
    --small: 14px;
    --medium: 16px;
    --large: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: 380px;
}

.img-logo {
    display: none;
    width: 60%;
    height: 50%;
    justify-self: center;
    margin-bottom: 70px;
}

.new-password-title {
    font-size: var(--large);
    text-align: center;
    margin-bottom: 0px;
    color: var(--black);
}

.new-password-text {
    font-size: var(--medium);
    text-align: center;
    color: var(--very-light-pink);
    margin: 5px auto 50px auto;
}

.new-password-form {
    display: flex;
    flex-direction: column;
}

.label {
    color: var(--black);
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px;
}

.input-button {
    background-color: var(--hospital-green);
    color: var(--white);
    font-size: medium;
    font-weight: bold;
    height: 50px;
    margin-top: 16px;
    cursor: pointer;

}

@media (max-width:550px) {
    .img-logo {
        display:block;
    }
}

